<script context="module">
  export async function preload({ params, query }) {
    // the `slug` parameter is available because
    // this file is called [slug].svelte
    const res = await this.fetch(`blog/${params.slug}.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { post: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  export let post;
</script>

<svelte:head>
  <title>{post.metadata.title}</title>
</svelte:head>

<style>
  :global(h1, h2, h3, h4, h5, h6) {
    line-height: 1.2em;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  header h1 {
    font-size: 200%;
    margin-bottom: 0;
  }

  header h1 + h2 {
    margin-top: 0;
    opacity: 0.5;
    font-size: 1em;
  }


  .meta time {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .tags a {
    text-decoration: none;
    background-color: #ffe16b;
    color: #ad5f00;
    display: inline-block;
    font-size: 0.75em;
    margin: 0.125em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    opacity: 0.7;
  }

  .cover-image {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin: 1em auto;
  }

  article {
    margin: 0 auto;
    width: 90%;
    max-width: 55em;
    line-height: 1.5em;
  }

  section {
    margin-top: 1em;
  }

  section :global(h1, h2, h3, h4) {
    margin-bottom: 0em;
  }

  section :global(ul) {
    margin-left: 1.5em;
  }

  section :global(p) {
    margin-top: 1em;
  }

  section :global(img) {
    max-height: 60vh;
    display: block;
    max-width: 100%;
    margin: 0em auto;
  }

  section :global(img + em) {
    display: block;
    text-align: center;
  }


</style>

<article>
  <header>
    <h1>{post.metadata.title}</h1>
    <h2>{post.metadata.description}</h2>
    <div class="meta">
      <time datetime="{post.metadata.date}">{post.metadata.date}</time>
    </div>
    <aside class="tags">
    {#each post.metadata.tags as tag}
      <a class="tag" href="blog/tags/{tag}">#{tag}</a>
    {/each}
    </aside>
  </header>

  {#if post.metadata.cover_image}
    <img class="cover-image" src="{post.metadata.cover_image}" alt="">
  {/if}

  <section class='content'>
    {@html post.html}
  </section>
</article>

