<script>
  import Nav from '../components/Nav.svelte';
  export let segment;
</script>

<style>
  main {
    margin: 0 auto;
    min-height: 93vh;
  }

@media only screen and (min-width: 768px) {
  main { 
    max-width: 80em;
  }
}

footer {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0 1rem
}

footer ul {
  display: inline-block;
  flex: 0 0 auto;
  margin: 0;
  padding: 0
}

footer li {
  display: inline-block;
  list-style: none;
  vertical-align: middle
}

footer a {
  display: inline-block;
  opacity: 1;
  padding: 0 0.4rem;
  text-decoration: none
}

footer a,footer p {
  color: var(--secondary-fg-color);
  font-family: var(--ui-font);
  font-size: 0.6rem;
  line-height: 3em;
  margin: 0
}


</style>

<Nav {segment}/>

<main>
  <slot></slot>
</main>
<footer>
  <p>© 2019 Jukka</p>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
  </ul>
</footer>
