<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
      return { posts };
    });
  }
</script>

<script>
  import PostLink from '../components/PostLink.svelte';
  export let posts;
  $: latest = posts.slice(0,4);
  $: rest = posts.slice(4);
</script>

<style>
  section {
    margin-top: 5em;
  }
</style>

<svelte:head>
  <title>Nonsense blog implemented with Sapper</title>
</svelte:head>

<section class="latest">
{#each latest as post}
  <PostLink post="{post}"/>
{/each}
</section>

<section class="more">
{#each rest as post}
  <PostLink post="{post}"/>
{/each}
</section>

