<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
      return { posts, tag: params.tag };
    });
  }
</script>

<script>
    export let tag;
    export let posts;

    $: tagPosts = posts.filter(post => {
        return post.tags.includes(tag);
    });
</script>

<h1>Tag #{tag}</h1>

{#if !tagPosts.length}
<p>No posts tagged as #{tag} (this should not even be possible...)</p>
{/if}
<ul>
{#each tagPosts as post}
    <li>
        <a rel='prefetch' href="blog/{post.slug}">{post.title}</a>
    </li>
{/each}
</ul>