<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
      return { posts };
    });
  }
</script>

<script>
  export let posts;

  let tagSet = new Set();
  posts.forEach(post => {
     post.tags.forEach(tag => {
         tagSet.add(tag);
     }); 
  });
  let tags = [...tagSet];
</script>

<h1>Tags</h1>

{#if !tags.length}
<p>No tags!</p>
{/if}
<ul>
{#each tags as tag}
    <li>
        <a rel='prefetch' href="blog/tags/{tag}">{tag}</a>
    </li>
{/each}
</ul>