<script>
  //export let segment;
</script>

<style>
  header {
    background-color: var(--header-bg-color);
    color: var(--header-fg-color);
    fill: var(--header-fg-color)
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    padding: 0.5em;
  }

  li {
    list-style: none;
    padding-right: 1em;
  }
  li:last-child {
    padding-right: 0em;
  }

  a {
    text-decoration: none;
    color: var(--header-fg-color);
  }

  a:hover {
	  opacity: 0.7;
  }

  nav svg {
    height: 1em;
  }

  .tags {
    font-size: 0.8em;
  }
</style>

<header>
  <nav>
    <ul>
      <li>
        <a href="./"><img src="cpu.svg" height="20" alt="Home"></a>
      </li>
      <li><a href="./">Blog</a></li>
      <li><a href="about">About</a></li>
      </ul>
    <ul>
      <li><a class="tags" href="blog/tags">Tags</a></li>
      <li>
        <a href="feed.xml" title="RSS Feed">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM112 416c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm157.533 0h-34.335c-6.011 0-11.051-4.636-11.442-10.634-5.214-80.05-69.243-143.92-149.123-149.123-5.997-.39-10.633-5.431-10.633-11.441v-34.335c0-6.535 5.468-11.777 11.994-11.425 110.546 5.974 198.997 94.536 204.964 204.964.352 6.526-4.89 11.994-11.425 11.994zm103.027 0h-34.334c-6.161 0-11.175-4.882-11.427-11.038-5.598-136.535-115.204-246.161-251.76-251.76C68.882 152.949 64 147.935 64 141.774V107.44c0-6.454 5.338-11.664 11.787-11.432 167.83 6.025 302.21 141.191 308.205 308.205.232 6.449-4.978 11.787-11.432 11.787z"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
