<script>
  export let post;
  $: coverImage = post.cover_image || 'images/nicolas-thomas-533958-unsplash-Electronics.jpg';
</script>

<style>
  a {
    display: flex;
    text-decoration: none;
    color: var(--fg-color);
    /* border: 1px solid rgba(0,0,0,0.15); */
    margin-bottom: 1em;
    align-items: center;
  }

  img {
    display: inline-block;
    width: 40%;
    max-height: 320px;
    border-radius: 0.30em;
    box-shadow: 15px 21px 40px 0px rgba(0,0,0,0.04);
    margin-left: 4em;
  }

  header {
    display: inline-block;
    max-width: 50%;
    margin: 2em;
    /* border: 1px solid rgba(0,0,0,0.15); */
  }
  header > h2 {
    margin-bottom: 1em;
  }

  header h2 + h3 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 1em;
    opacity: 0.7;
  }

  .meta {
    display: flex;
    align-items: baseline;
  }

  .meta time {
    font-size: 0.8em;
    opacity: 0.5;
    margin-right: 1em;
    /* display: inline-block; */
}

  .tags a {
    background-color: #ffe16b;
    color: #ad5f00;
    display: inline-block;
    font-size: 0.75em;
    margin: 0.125em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    opacity: 0.7;
  }

  .tags a:hover, .tags a:focus {
    opacity: 1;
  }

@media only screen and (max-width: 767px) {
  a {
    flex-direction: column;
  }
  img {
    width: 100%;
    margin: auto;
    padding: 0 2em;
    max-height: 200px;
  }
  header {
    max-width: 100%;
  }
}

</style>

<a rel='prefetch' href="blog/{post.slug}" class="featured">
  <img src="{coverImage}" alt="">
  <header>
    <h2>{post.title}</h2>
    <h3>{post.description}</h3>
    <div class="meta">
      <time datetime="{post.date}">{post.date}</time>
      <aside class="tags">
      {#each post.tags as tag}
        <a class="tag" href="blog/tags/{tag}">#{tag}</a>
      {/each}
      </aside>        
    </div>
  </header>
</a>
  