:root {
  --bg-color: #ECECEC;
  --fg-color: #333333;
  --accent-color: #0d52bf;
  --header-bg-color:#64baff;
  --header-fg-color: #fafafa;
  --secondary-bg-color: #f5f5f5;
  --secondary-fg-color: #4d4d4d;
}

:root {
  --page-width: 80rem;
  --content-width: 60rem
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: Roboto, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-size: 16px;
    word-spacing: 1px;
}
